
@{
    ViewBag.Title = "Fail";
}

<h2>You did not pass. Want to try again?</h2>
@Html.ActionLink("Try again", "ViewChallenge", "Route")
@Html.ActionLink("Select a different Route", "Index", "Route")
