@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to PokedexProject!</h2>
    <p>If this is your first time as a trainer, please register.</p>
    <p>INSTRUCTIONS: create trainer, go to routes, view challenges, select a challenge, and answer questions in order to gain pokemon and items.</p>
</div>