@model PokedexProject.Models.ChallengeVM

@{
    ViewBag.Title = "SelectChallenge";
}

<div class="container">


    <div class="SelectChallenge">

        <div class="panel panel-default" style="width: 37%; margin: 20% 32%;">
            <div class="panel-heading">Select Route</div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.DropDownList("ChallengeId", new SelectList(ViewBag.ChallengeList, "ChallengeId", "ChallengeName"))<br />
                    <button type="submit" id="Enter" class="btn btn-success btn-lg" style="width:100%;"><span class="glyphicon glyphicon-ok"></span>   Let's GO </button>
                }

            </div>
        </div>

    </div>

</div>